:80 {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /ws/* {
        reverse_proxy backend:8000
    }

    handle_path /game/* {
        reverse_proxy game:80
    }

    handle {
        reverse_proxy frontend:3000
    }
}
